.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #f0f0f0;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  text-align: start;
}


h1, h2, h3, h4, h5, h6 {
  color: #333;
}

p {
  line-height: 1.6;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #555;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

h3 {
  margin-bottom: 10px;
}

.phoneTableTitle {
  margin-bottom: 10px;
  text-align: center;
}

#mobilePhoneTable {
  width: 70%;
  margin: auto;
  border-collapse: collapse;
}

#mobilePhoneTable th {
  border-bottom: 1px solid #333;
}

#mobilePhoneTable th,
#mobilePhoneTable td {
  border-left: 1px solid #333;
  padding: 8px;
  text-align: center;
}

#mobilePhoneTable td.tableButtons {
  border: none;
}

#mobilePhoneTable th:first-child,
#mobilePhoneTable td:first-child {
  border-left: none;
}

.error {
  color: red;
  font-size: 10px;
  margin-top: 5px;
}

#filterTable {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-collapse: collapse;
}

#mobilePhoneTable th {
  cursor: pointer;
  user-select: none;
  position: relative;
}

#mobilePhoneTable th:hover {
  background-color: #f0f0f0;
}

#mobilePhoneTable th:active {
  background-color: #d4d4d4;
}

#mobilePhoneTable th::after {
  font-size: 12px;
  position: absolute;
  top: 8px;
  right: 4px;
  opacity: 0.5;
}

#mobilePhoneTable th.true::after {
  content: '\25B2';
}

#mobilePhoneTable th.false::after {
  content: '\25BC';
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pagination button {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  cursor: pointer;
  padding: 8px 12px;
  margin: 0 2px;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #f0f0f0;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
}

.selectPageSize {
  margin-top: 10px;
}

.selectPageSize label {
  margin-right: 10px;
}

.selectPageSize select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.3s;
}

.selectPageSize select:hover {
  border-color: #007bff;
}

.selectPageSize select option {
  background-color: #fff;
  color: #333;
}

.selectPageSize select option:hover {
  background-color: #f0f0f0;
}

.selectPageSize select option:checked {
  background-color: #007bff;
  color: #fff;
}


nav {
  padding: 10px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 20px;
}

li:last-child {
  margin-right: 0;
}

Link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

Link:hover {
  color: #f0f0f0;
}